<footer class="footer">
  <div class="container">
    <p class="text-muted">&copy Maureen's Store 
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
    </p>
  </div>
</footer>